.bak{
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    
}

.back{
    background-color: rgb(48, 139, 224);
    background-attachment: fixed;
    background-size: auto;
    backdrop-filter: inherit;
}
.pilar{
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
}
#titulo,#titulo1{
    text-align: center;
}

.joga a{
    text-decoration: none;
    color: black;
}